doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    meta(name='viewport' content='width=device-width, initial-scale=1.0')
    title Jeremy - Resume
    link(rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.css')
    link(rel='stylesheet' href='https://fonts.googleapis.com/css2?family=Lora&family=Merriweather:wght@700&display=swap"rel="stylesheet')
    link(rel='stylesheet' href='./style.css')
  body
    // partial:index.partial.html
    .container
      #home.header
        .box-shaw
          .title.name JEREMY 
          .title.ename  RESUME
          p.at_top READ MORE
      nav#main.navbar
        a.fa.fa-home(href='#home')
        a(href='#about') ABOUT
        a(href='#skills') SKILLS
        a(href='#work') WORKS
        a(href='#contact') CONTACT
      // about me
      #about
        .aboutcontainer
          .aboutcontent
            h1 About Me
            p
              | 您好，我是陳柏宇
              br
              | 畢業於德明財經科技大學資訊管理系
              br
              | 熱愛學習，積極向上，認真負責
              span.dots  ...
            p.more
              | 之前是先以ASP.NET為目標
              br
              | 2020九月接觸前端
              br
              | 對程式技術都滿有興趣
              br
              | 目前還在充實自己能力
              br
              | 了解程式所學的知識非常多
              br
              | 還在努力學習
              br
              | 希望能在這一個月尋找與軟體工程師相關工作
              br
              | 在工作上運用所學的
              br
              | 貴公司有興趣請與我聯絡！謝謝！
              br
            span#btn Read more
            a.icon.fa.fa-cloud-upload(href='https://www.cakeresume.com/s--VK2hhCRbRcHhcHisYDRojA--/a27262354' target='_blank')  履歷
      #skills.skill
        h1 Skills
        p HTML
        .container
          .skillhtml
            .html 80%
        p CSS
        .container
          .skillcss
            .css 80%
        p JavaScript , JQuery
        .container
          .skilljs
            .js 60%
        p MS SQL
        .container
          .skillsql
            .sql 60%
        p C#、ASP.NET
        .container
          .skillasp
            .asp 30%
      #work
        .workcontent
          h1 Works Experience 
          h2
            | 綿春纖維工業股份有限公司(實習)
            br
            | 2019 年 07 月 - 2020 年 06月
        .workcolumn
          .icon
            a(href='http://www.mds-intl.com/zh-tw/Home' target='_blank')
              img(src='https://www.mds-efab.com/_admin/upload/5c6baa412c359.jpg' alt='')
          .worktext
            h3 使用語言:C#
            h3 資料庫:Microsoft SQL Server
            h3 工作內容:
            p 利用Biztalk Server維護Web Service
            p 與三家以上客戶進行API對接
            p 依照商業邏輯，修改Stored procedure
      #contact
        h1 Contact
        .content
          .icon
            .pic
              img(src='https://scontent.ftpe5-1.fna.fbcdn.net/v/t1.0-9/128445492_3668407706515304_5518465250669298875_o.jpg?_nc_cat=101&ccb=2&_nc_sid=09cbfe&_nc_ohc=nv0Bi3wTP9UAX-BRbG-&_nc_ht=scontent.ftpe5-1.fna&oh=65e1d3574bba3e062e13690f3d24bdaa&oe=5FE958DF' alt='')
            .text
              h2 陳柏宇 Jeremy
              h3 Phone:
              p 0976201274
              h3 Email:
              p a27262354@gmail.com
              a.fa.fa-facebook-official.fa-3x(href='https://www.facebook.com/profile.php?id=100000383322158' target='_blank' aria-hidden='true')
      .footer 
        p Copyright © Jeremy All rights reserved.
    // partial
    script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery-smoove/0.2.6/jquery.smoove.min.js')
    script(src='./script.js')
